.create-todo.hidden
  form(name='todo')
    label(for='title')
      | Title
    input#name.text-input(type='text', name='title')
    br
    label(for='notes')
      | Notes
    input#notes.text-input(type='text', name='notes')
