.create-todo.hidden
  form(action='todo', method='POST', name='todo')
    p
      label(for='title')
        | Todo title
      br
      input#title.text-input(type='text', name='title')
    p
      label(for='notes')
        | Usefull notes
      br
      input#notes.text-input(type='text', name='notes')
    br
    input(type='submit')
