- var doneStatus = todo.done ? 'done' : 'not-done'
div(id=todo._id.toHexString(), class='todo ' + doneStatus)
  .title= todo.title
  .notes= todo.notes
  div.create_date
    div= todo.date_created.toDateString()
